/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Esto evitará las barras de desplazamiento */
    background-color: #00274D; /* Color de fondo oscuro */
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
